<div class="comment" id="comment">
    <% if(_web.allowcomment){ %>
    <link rel="stylesheet" href="<%=_web.url%>/static/src/css/business/page/comment.css"/>
    <div class="licomment">
        <div class="ds-thread" id="ds-thread">
            <div id="ds-reset">
                <div class="ds-comments-info">
                    <ul class="ds-comments-tabs">
                        <li class="ds-tab">
                            <a class="ds-current" href="javascript:void(0);">
                                <span class="ds-highlight"><%=count%></span>条评论
                            </a>
                        </li>
                    </ul>
                    <div class="ds-sort">
                        <a href="javascript:void(0)" class="ds-like-thread-button ds-rounded">
                            <span class="ds-icon ds-icon-heart"></span>
                            <span class="ds-thread-like-text">喜欢</span>
                            <span class="ds-thread-cancel-like">取消喜欢</span>
                        </a>
                        <!--<span class="ds-like-panel">-->
                            <!--<span class="ds-highlight"><%=blogInfo.like%></span>人喜欢-->
                        <!--</span>-->
                    </div>
                </div>
                <ul class="ds-comments">
                    <% commentList.forEach(function(item,i){%>
                    <li class="ds-post" >
                        <div class="ds-post-self" >
                            <div class="ds-avatar" data-user-id="6281907146044998401">
                                <a rel="nofollow author" target="_blank" href="http://t.qq.com/livisky" title="<%=item.author%>">
                                    <img src="<%=_web.url%><%=(item.pic==='')?'/static/common/images/common/defaultpic.png':item.pic%>" alt="<%=item.author%>">
                                </a>
                            </div>
                            <div class="ds-comment-body">
                                <div class="ds-comment-header">
                                    <span class="ds-user-name ds-highlight"><%=item.author%></span>
                                </div>
                                <p><%-item.comment%></p>
                                <div class="ds-comment-footer ds-comment-actions">
                                    <span class="ds-time" datetime="<%=item.createtime%>"><%=think.datetime(item.createtime,"YYYY-MM-DD HH:mm:ss");%></span>
                                    <a class="ds-post-reply" href="javascript:void(0);" ds-name="<%-item.author%>" ds-id="<%-item.id%>">
                                        <span class="ds-icon ds-icon-reply"></span>
                                        回复
                                    </a>
                                    <a class="ds-post-likes" href="javascript:void(0);" ds-id="<%-item.id%>"><span class="ds-icon <%=(item.dig===1)?'ds-icon-heart':'ds-icon-like'%>"></span>顶</a>
                                    <a class="com-post-report" href="javascript:void(0);" ds-id="<%-item.id%>"><span class="ds-icon ds-icon-report"></span>举报</a>
                                </div>
                            </div>
                            <ul class="ds-comments" style="padding-left: 60px;">
                                <% replyList.forEach(function(replyitem,i){ %>
                                        <% if(replyitem.belongid===item.id){ %>
                                        <li class="ds-post" >
                                            <div class="ds-post-self" >
                                                <div class="ds-avatar">
                                                    <a rel="nofollow author" target="_blank" href="http://t.qq.com/livisky" title="<%=replyitem.author%>">
                                                        <img src="<%=_web.url%><%=(replyitem.pic==='')?'/static/common/images/common/defaultpic.png':replyitem.pic%>" alt="<%=replyitem.author%>">
                                                    </a>
                                                </div>
                                                <div class="ds-comment-body">
                                                    <div class="ds-comment-header">
                                                        <span class="ds-user-name ds-highlight"><%=replyitem.author%></span>
                                                    </div>
                                                    <p><%-replyitem.comment%></p>
                                                    <div class="ds-comment-footer ds-comment-actions">
                                                        <span class="ds-time" datetime="<%=replyitem.createtime%>"><%=think.datetime(replyitem.createtime,"YYYY-MM-DD HH:mm:ss");%></span>
                                                        <a class="ds-post-reply" href="javascript:void(0);" ds-name="<%-replyitem.author%>" ds-id="<%-replyitem.id%>">
                                                            <span class="ds-icon ds-icon-reply"></span>回复
                                                        </a>
                                                        <a class="ds-post-likes" href="javascript:void(0);" ds-id="<%-replyitem.id%>"><span class="ds-icon <%=(replyitem.dig===1)?'ds-icon-heart':'ds-icon-like'%>"></span>顶</a>
                                                        <a class="com-post-report" href="javascript:void(0);" ds-id="<%-replyitem.id%>"><span class="ds-icon ds-icon-report" ></span>举报</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <% }%>
                                <% })%>
                            </ul>
                        </div>
                    </li>
                    <%})%>
                </ul>
                <a name="respond"></a>
                <div class="ds-replybox" id="replybox">
                    <a class="ds-avatar" href="javascript:void(0);" onclick="return false">
                        <img src="<%=_web.url%>static/common/images/common/noavatar_default.png" alt="">
                    </a>
                    <div class="ds-textarea-wrapper ds-rounded-top">
                        <div class="textarealeft" id="replyat" belong-id=""></div>
                        <div style="float: left;width: 80%;"><textarea name="message" id="replymsg" placeholder="说点什么吧…" style="padding-left: 3px;"></textarea></div>
                        <pre class="ds-hidden-text"></pre>
                    </div>
                    <div class="ds-post-toolbar">
                        <div class="ds-post-options ds-gradient-bg">
                            <span class="ds-sync"></span>
                        </div>
                        <div class="ds-toolbar-buttons">
                            <a class="ds-toolbar-button ds-add-emote" title="插入表情"></a>
                            <div class="replytextarea">
                                昵称：<input type="text" class="replyint" value="" id="nickname" style="border: 1"/>
                                邮箱：<input type="text" class="replyint" value="" id="email" style="border: 1"/>
                            </div>
                        </div>
                        <button class="ds-post-button" type="submit" belong-id="0" aid="<%-blogInfo.id%>">发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}else{%>
    <!--您需要登录后才可以评论。登录 | 立即注册-->
        暂未开放评论
    <%}%>
</div>