<a id="back-top" class="w-gotop" href="javascript:void(0)"></a>
<footer class="footer">
    <div class="footer_logo">
          <div class="logo" style="margin-top:-50px;">
            <h1>Liblog <span style="font-size: 12px">v1.0</span></h1>
          </div>
          <div class="brand">你out了吗<br>www.jsout.com</div>
    </div>
    <div class="footer_right">
        <div class="footer_inner">
            <p><a href="/about.html" target="_blank">我们的由来</a> |
            <a href="/guest.html" target="_blank">联系我们</a> |
            <a href="/about.html" target="_blank">注册协议</a> |
            <a href="/about.html" target="_blank">版权声明</a> |
            <a href="/about.html" target="_blank">推广服务</a> |
            <a href="/sitemap.xml" target="_blank">网站地图</a> |
            <a href="/links.html" target="_blank">友情链接</a> |
            <a href="http://livisky.github.io/" target="_blank">Liblog V1.0</a><br>
            <span>版权所有 © 前端汇网 &nbsp;  | &nbsp; Copyright © 2016 jsout.com All rights reserved</span> <br>
            <span>浙ICP备16016408号-1</span><a href="mailto:262248861@qq.com" class="email">262248861@qq.com</a></p>
        </div>
    </div>
    <div style="clear:both"></div>
</footer>
<script src="<%=_web.url%>static/src/js/widget/jquery/jquery-1.9.1.min.js"></script>
<script src="<%=_web.url%>static/src/js/business/pagecommon/footer.js"></script>
<!--访客统计代码-->
<%-_web.tongji%>
<!--访客统计代码-->
