    <link rel="stylesheet" href="<%=_web.url%>static/vendors/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="shortcut icon" href="<%=_web.url%>static/common/images/common/favicon.ico" type="image/x-icon">
    <link href="<%=_web.url%>static/src/css/business/index/layout.css" rel="stylesheet">
    <link href="<%=_web.url%>static/src/css/business/index/index.css" rel="stylesheet">
    <link href="<%=_web.url%>static/src/css/business/common/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="<%=_web.url%>static/src/css/business/index/smallscreen.css" />
    <!--[if lt IE 9]>
      <script src="<%=_web.url%>static/src/js/widget/html5/html5.min.js"></script>
    <![endif]-->
    <script>
        var G_csrf="<%=csrf%>";
    </script>
