<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/" title="" title="logo">
                <img src="<%=_web.url%>static/common/images/common/logo.jpg" alt="前端汇"/>
            </a>
        </div>
        <div class="brand">你out了吗<br>www.jsout.com</div>
        <ul class="site-nav site-navbar">
            <li class="item current">
                <a href="/"> 首页</a>
            </li>
            <li class="item common">
                <a href="/news.html"> 前端资讯</a>
            </li>
            <li class="item common">
                <a href="/node.html"> Node.js</a>
            </li>
            <li class="item common">
                <a href="/mac.html"> mac精品</a>
            </li>
            <li class="item common">
                <a href="/activity.html"> 活动</a>
            </li>
            <li class="item common">
                <a href="/others.html"> 大杂烩</a>
            </li>
            <li class="item common">
                <a href="/jobs.html"> 招聘</a>
            </li>
            <li class="item common">
                <a href="/about.html"> 关于</a>
            </li>
            <li class="navto-search"><a href="javascript:;" class="search-show active"><i class="fa fa-search"></i></a></li>
        </ul>
        <div class="topbar">
            <ul class="site-nav topmenu">
                <li style="display: block;">
                    <a class="red" href="http://livisky.github.io/" target="_blank"><i class="glyphicon glyphicon-thumbs-up"></i>推荐:Liblog前端汇1.0</a>
                </li>
                <li>
                    <a href="/">前端汇</a>
                </li>
                <li>
                    <a href="/links.html">友情链接</a>
                </li>
                <li style="display: block;">
                    <a href="/guest.html">留言板</a>
                </li>
                <li style="display: block;">
                    <a href="/about.html">关于</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars m-icon-nav"></i>
    </div>
</header>