<header class="header">
    <div class="container">
        <div class="logo">
            <h1>Liblog <span style="font-size: 12px">v1.0</span></h1>
        </div>
        <ul class="site-nav site-navbar">
           <% navList.forEach(function(item,i){%>
              <li class="item">
                  <a href="<%=item.url%>"> <%=item.menuname%></a>
              </li>
           <%})%>
            <li class="navto-search" style="margin-left:40px;">
                <a href="javascript:;" class="search-show active">
                 <span style="color:#ccc;margin-right:10px">搜索</span><i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
        <div class="topbar">
            <ul class="site-nav topmenu">
                <li style="display: block;">
                    <a class="red" href="http://livisky.github.io/" target="_blank">
                      <i class="glyphicon glyphicon-thumbs-up"></i>推荐:Liblog v1.0
                    </a>
                </li>
                <li>
                    <a href="/links.html">友情链接</a>
                </li>
                <li style="display: block;">
                    <a href="/guest.html">留言板</a>
                </li>
                <li style="display: block;">
                    <a href="/about.html">关于</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="site-search">
<div class="container">
	<form method="get" class="site-search-form" action="/search?keyword=">
		<input class="search-input" name="keyword" type="text" placeholder="输入关键字搜索"><button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
	</form>
</div>
</div>
