<div class="dataTables_wrapper">
    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
        <a class="paginate_button previous <%=pageData.preclass%>" href="<%=pageData.prelink%>" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
        <% for(var i=pageData.pageStart;i<=pageData.pageEnd;i++){%>
                        <span>
                            <a href="/<%=menu%>/page/<%=i%>" class="paginate_button <%=pageData.currentPage===i?'current':''%>" aria-controls="DataTables_Table_0" data-dt-idx="<%=i%>" tabindex="0"><%=i%></a>
                        </span>
        <%}%>
        <a class="paginate_button next <%=pageData.nextclass%>" href="<%=pageData.nextlink%>" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
    </div>
</div>