<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="3;url=/">
    <title>很抱歉，您访问的页面不存在 - 前端汇</title>
    <style type="text/css">.main-box{margin: 105px auto 0; width: 510px; padding-bottom: 65px;} .main-box .main-top{} .main-box .main-top .logo{width: 166px; float: left;} .main-box .main-top .title{float: right;} .main-box .main-top h5{font-size: 12px; font-weight: normal; margin-top: 4px; color: #999999; margin-bottom: 6px;} .main-box .main-top li{background: url(http://static.lehecai.com/img/404/list_style.gif) 0 10px no-repeat; padding-left: 8px; line-height: 20px;} .main-box .main-top .link a{text-decoration: none; margin-right: 8px; color: #0065BA;} .main-box .main-top .link a:hover{color: #F00; text-decoration: none;}</style></head>

  <body>
    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" style="padding-bottom: 0px; padding-right: 0px; display: none;">
      <div id="cboxWrapper">
        <div>
          <div id="cboxTopLeft" style="float: left;"></div>
          <div id="cboxTopCenter" style="float: left;"></div>
          <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear:left">
          <div id="cboxMiddleLeft" style="float: left;"></div>
          <div id="cboxContent" style="float: left;">
            <div id="cboxLoadedContent" style="width:0; height:0; overflow:hidden" class=""></div>
            <div id="cboxLoadingOverlay" class=""></div>
            <div id="cboxLoadingGraphic" class=""></div>
            <div id="cboxTitle" class=""></div>
            <div id="cboxCurrent" class=""></div>
            <div id="cboxNext" class=""></div>
            <div id="cboxPrevious" class=""></div>
            <div id="cboxSlideshow" class=""></div>
            <div id="cboxClose" class=""></div>
          </div>
          <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear:left">
          <div id="cboxBottomLeft" style="float: left;"></div>
          <div id="cboxBottomCenter" style="float: left;"></div>
          <div id="cboxBottomRight" style="float: left;"></div>
        </div>
      </div>
      <div style="position:absolute; width:9999px; visibility:hidden; display:none"></div>
    </div>
    <div class="main-box">
      <div class="main-top">
        <div class="logo">
          <img src="/static/theme/default/res/common/images/common/404.jpg">
        </div>
        <div class="title">
          <img src="/static/theme/default/res/common/images/common/404_title.jpg">
          <h5>您可以访问以下地址：</h5>
          <div class="link">
            <a href="/">返回首页</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </body>
</html>
