body {
	background: rgb(249, 249, 249); font: 12px/1.5 "΢���ź�",Helvetica,Arial; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal;
}
img {
	border: 0px currentColor; border-image: none; display: block;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a {
	
}
a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.f_l {
	float: left;
}
.f_r {
	float: right;
}
.l_box {
	background: rgb(255, 255, 255); padding: 10px 0px 10px 0px; border-radius: 6px; 
    width: 74%;
}
.r_box {
	background: rgb(255, 255, 255); padding: 6px; border-radius: 6px; width: 23%;
}
#topnav {
	background: rgb(72, 174, 21); border-radius: 46px; width: 60%; height: 44px; text-align: center; line-height: 46px;
}
#topnav a {
	padding: 0px 20px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; font-size: 18px; display: inline-block;
}
#topnav a:hover {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
#topnav a {
	color: rgb(255, 255, 255);
}
#topnav_current {
	background: rgb(243, 255, 65);
}
a#topnav_current {
	color: rgb(0, 0, 0);
}
article.mainbd {
	margin: 0px auto; width: 87%; min-height: 400px;
}
.tab {
	margin: 30px 0px 20px; width: 100%; overflow: hidden;
}
.tab-top {
	height: 32px; font-size: 14px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
#tb li a {
	padding: 0px 14px; height: 32px; line-height: 32px; float: left; list-style-type: none; cursor: pointer;
}
#tb li.cur a {
	background: rgb(247, 120, 37); color: rgb(255, 255, 255);
}
.bd {
	display: none;
}
.bd-news ul {
	background: url("images/ph2.png") no-repeat 10px 29px; padding: 10px 0px 0px 10px;
}
.bd-news ul li {
	padding: 10px 0px 0px 30px;line-height: 30px; overflow: hidden; font-size: 14px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.bd-news ul li a {
	display: block;
	height: 30px;
}
.bd-news ul li a:hover {
	color: rgb(0, 0, 0);
}
.bd-news ul li:hover {
	border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.cloud {
	width: 100%; overflow: hidden; clear: both;
}
.cloud h3 {
	height: 40px; color: rgb(56, 72, 90); line-height: 40px; font-size: 18px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid;
}
.cloud ul {
	margin: 20px 0px;
}
.cloud ul li {
	background: rgb(153, 153, 153); margin: 10px 10px 0px 0px; padding: 3px 11px; border-radius: 8px; transition:0.5s; height: 24px; line-height: 24px; float: left; display: block; -webkit-transition: all 0.5s; -o-transition: all 0.5s; -moz-transition: all 0.5s;
}
.cloud ul li a {
	color: rgb(255, 255, 255);
}
.cloud ul li:nth-child(8n-7) {
	background: rgb(138, 155, 15);
}
.cloud ul li:nth-child(8n-6) {
	background: rgb(235, 104, 65);
}
.cloud ul li:nth-child(8n-5) {
	background: rgb(63, 184, 175);
}
.cloud ul li:nth-child(8n-4) {
	background: rgb(254, 67, 101);
}
.cloud ul li:nth-child(8n-3) {
	background: rgb(252, 157, 154);
}
.cloud ul li:nth-child(8n-2) {
	background: rgb(237, 201, 81);
}
.cloud ul li:nth-child(8n-1) {
	background: rgb(200, 200, 169);
}
.cloud ul li:nth-child(8n) {
	background: rgb(131, 175, 155);
}
.cloud ul li:first-child {
	background: rgb(3, 101, 100);
}
.cloud ul li:last-child {
	background: rgb(50, 153, 187);
}
.cloud ul li:hover {
	border-radius: 0px; text-shadow: 1px 1px 1px #000;
}
* {
	box-sizing: inherit; -webkit-box-sizing: inherit;
}
.header .container {
	margin: 0px auto; padding: 0px; width: auto; position: relative;
}
.header {
	border-color: #fff; padding: 55px 0px 10px; left: 0px; top: 0px; right: 0px; margin-bottom: 15px; border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 9; box-shadow: 0px 1px 3px rgba(0,0,0,0.03); background-color: rgb(255, 255, 255);
}
.category-see .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.page-template-pagesnav-php .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.page-template-pagestheme-php .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.page-template-pagestools-php .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.page-template-pagesthemes-php .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.category-job .header {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; box-shadow: none;
}
.logo {
	width: 155px; overflow: hidden; padding-top: 5px; margin-top: -10px; margin-left: 6%; float: left;
}
.logo a {
	background-position: 50% 50%; height: 44px; text-indent: -9999px; overflow: hidden; display: block; background-repeat: no-repeat;
}
.brand {
	top: 1px; height: 30px; color: rgb(187, 187, 187); line-height: 16px; padding-left: 10px; font-size: 14px; margin-left: 6px; border-left-color: rgb(234, 234, 234); border-left-width: 2px; border-left-style: solid; float: left; position: relative;
}
.site-navbar {
	font-size: 18px; margin-top: 7px; margin-left: 30px; float: left;
}
.site-navbar li {
	float: left; position: relative;
}
.site-navbar li:hover {
	z-index: 2;
}
.site-navbar a {
	padding: 0px 15px; color: rgb(102, 102, 102); display: block;
}
.site-navbar li:hover > a {
	color: rgb(69, 182, 247);
}
.site-navbar li.active a:hover {
	color: rgb(69, 182, 247);
}
.site-navbar a:hover {
	color: rgb(69, 182, 247);
}
.site-navbar li.active > a {
	color: rgb(69, 182, 247);
}
.site-navbar .fa {
	width: 18px;
}
.site-navbar .fa-angle-down {
	width: 11px;
}
.topbar .fa {
	width: 14px;
}
.topbar .fa-angle-down {
	width: 9px;
}
.topbar {
	left: 0px; top: -39px; right: 0px; color: rgb(153, 153, 153); margin-bottom: 20px; position: absolute;
}
.topbar a {
	color: rgb(153, 153, 153);
}
.topbar a:hover {
	color: rgb(69, 182, 247);
}
.topmenu {
	float: right;
}
.topmenu li {
	float: left; position: relative;
}
.topmenu li:hover {
	z-index: 2;
}
.topmenu a {
	padding: 0px 15px; color: rgb(153, 153, 153); display: block;
}
.topmenu li:hover > a {
	color: rgb(69, 182, 247);
}
.topmenu li.active a:hover {
	color: rgb(69, 182, 247);
}
.topmenu a:hover {
	color: rgb(69, 182, 247);
}
.topmenu li.active > a {
	color: rgb(69, 182, 247);
}
.topmenu .red {
	color: rgb(255, 94, 82); display: inline-block;
}
.topmenu .red:hover {
	color: rgb(255, 94, 82); text-decoration: underline;
}
.site-nav .sub-menu {
	padding: 6px 0px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; left: -5px; top: 100%; width: 132px; line-height: 32px; font-size: 12px; font-weight: bold; display: none; position: absolute; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.site-nav .sub-menu li {
	float: none;
}
.site-nav .sub-menu a:hover {
	
}
.site-nav li:hover > .sub-menu {
	display: block;
}
.site-nav li:hover .fa-angle-down {
	transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg);
}
.markdown-body {
	margin: 0px auto; padding: 5px; font-size: 14px; min-width: 200px; max-width: 778px; box-sizing: border-box;
}
#articlePages {
	text-align: center;
}
#articlePages a {
	padding: 4px 8px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#articlePages a.active {
	border: 1px solid rgb(219, 109, 76); border-image: none;
}
.footer {
	padding: 40px 30px; text-align: center; color: rgb(153, 153, 153); line-height: 12px; clear: both; font-size: 12px; margin-top: 40px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; position: relative; z-index: 9; background-color: rgb(255, 255, 255);
}
.footer a {
	color: rgb(153, 153, 153);
}
.footer a:hover {
	color: rgb(102, 102, 102);
}
.footer-menu {
	margin: 0px -2% 30px 0px; text-align: left; overflow: hidden; padding-bottom: 30px; border-bottom-color: rgb(73, 73, 73); border-bottom-width: 1px; border-bottom-style: solid;
}
.footer-menu dl {
	margin: 0px 2% 0px 0px; width: 14.66%; vertical-align: top; display: inline-block;
}
.footer-menu dt {
	height: 25px; overflow: hidden; font-size: 18px; font-weight: normal; margin-bottom: 10px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.footer-menu dd a {
	margin: 5px 0px; padding: 0px 5px 0px 24px; line-height: 20px; display: block;
}
.footer-menu .fa-weibo {
	width: 12px; text-align: center;
}
.footer-menu .fa-tencent-weibo {
	width: 12px; text-align: center;
}
.footer-menu .fa-envelope-o {
	width: 12px; text-align: center;
}
.footer-menu .fa-rss {
	width: 12px; text-align: center;
}
.markdown-body .article-header {
	text-align: center; padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.markdown-body .article-header h1 {
	border: currentColor; border-image: none;
}
.markdown-body .article-title {
	line-height: 36px; padding-top: 22px; font-size: 26px; margin-top: 0px;
}
.markdown-body .article-title a {
	color: rgb(85, 85, 85);
}
.markdown-body .article-title a:hover {
	color: rgb(85, 85, 85);
}
.article-meta {
	color: rgb(153, 153, 153); font-size: 12px;
}
.article-meta .item {
	margin-right: 20px;
}
.article-content {
	line-height: 25px; font-size: 15px; -ms-word-wrap: break-word;
}
.article-content img {
	margin: 5px 0px; height: auto; display: block; max-width: 100%;
}
.article-content h2 {
	padding: 10px 0px; color: rgb(85, 85, 85); font-weight: bold; margin-bottom: 18px;
}
.article-content h3 {
	padding: 10px 0px; color: rgb(85, 85, 85); font-weight: bold; margin-bottom: 18px;
}
.article-content h4��? .article-content h5 {
	padding: 10px 0px; color: rgb(85, 85, 85); font-weight: bold; margin-bottom: 18px;
}
.article-content h2 {
	margin: 18px 0px; font-size: 18px; font-weight: bold; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.article-content h3 {
	font-size: 16px;
}
.article-content h4 {
	font-size: 15px;
}
.article-content h5 {
	font-size: 14px;
}
.article-content ul {
	margin: 0px 0px 18px 46px;
}
.article-content ol {
	margin: 0px 0px 18px 46px;
}
.article-content ul {
	
}
.article-content ol {
	list-style: decimal;
}
.article-content li {
	margin-bottom: 6px;
}
.article-content p {
	margin-bottom: 18px; -ms-word-wrap: break-word;
}
.article-content pre {
	-ms-word-wrap: break-word;
}
.article-content table {
	width: 100%; margin-bottom: 18px; border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.article-content table th {
	text-align: center; background-color: rgb(249, 249, 249);
}
.article-content table td {
	padding: 5px 10px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.article-content table th {
	padding: 5px 10px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.article-content .alignnone {
	margin: 0px auto;
}
.article-content .alignleft {
	text-align: left; margin-right: 10px; float: left;
}
.article-content .aligncenter {
	margin: 0px auto; text-align: center; display: block;
}
.article-content .alignright {
	text-align: right; margin-left: 10px; float: right;
}
.article-content .wp-caption {
	padding: 10px 10px 1px; margin-bottom: 18px; max-width: 100%; background-color: rgb(246, 246, 246);
}
.article-content .wp-caption img {
	margin: 0px 0px 5px;
}
.article-content .wp-caption p {
	text-indent: 0px; margin-bottom: 10px;
}
.article-content .alignnone.wp-caption {
	text-align: center;
}
.article-content .wp-caption:hover .wp-caption-text {
	color: rgb(97, 179, 230);
}
.article-content a {
	text-decoration: underline;
}
.article-content blockquote {
	margin: 30px; padding: 15px 20px 1px; color: rgb(153, 153, 153); font-size: 16px; border-left-color: rgb(238, 238, 238); border-left-width: 5px; border-left-style: solid;
}
.article-content blockquote p {
	margin: 0px 0px 10px; padding: 0px;
}
.dataTables_wrapper .dataTables_paginate {
	text-align: right; padding-top: 10px; float: right;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin: 0px 0px 6px 6px; padding: 0px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 26px; text-align: center; color: rgb(102, 102, 102); line-height: 26px; font-size: 14px; text-decoration: none; display: inline-block; cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .current.paginate_button {
	background: rgb(64, 200, 201); color: rgb(255, 255, 255);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: rgb(64, 200, 201); color: rgb(255, 255, 255);
}
.dataTables_wrapper .dataTables_paginate .current.paginate_button:hover {
	background: rgb(64, 200, 201); color: rgb(255, 255, 255);
}
#back-top{
	width:50px;
	height:42px;
	display:block;
	background:url("/static/common/images/common/gotop.jpg") center center;
	position: fixed;
	right: 20px;
	bottom: 200px;
	display: none;
}