{% extends "../common/inc/base_about.html" %} {% block head %}
<title>{{title}}-{{_web.sitename}}</title>
<meta name="keywords" content="{{_web.keywords}}">
<meta name="description" content="{{title}}-{{_web.sitename}}"> {{ super() }} {% endblock %} {% block content %}
<header class="article-header">
    <h1 class="article-title">推广服务</h1>
</header>
<article class="article-content">
    <div class="right-main" style="border:none">
        本站提供图片广告投放服务，注意事项如下：<br/> 1、本站不负责广告的设计制作，请自备！ <br/> 2、内容只限于网站建设及网站教学类相关行业合法正规广告。
        <br/> 3、为提高网站速度和网站安全着想，本站所有广告仅支持gif、jpg、png、swf格式，不支持js或iframe代码。
        <br/> 站长联系方式：262248861@qq.com
        <br/> 官方QQ群：256687601
    </div>
</article>
{% endblock %}