{% extends "../common/inc/base_about.html" %} {% block head %}
<title>{{title}}-{{_web.sitename}}</title>
<meta name="keywords" content="{{_web.keywords}}">
<meta name="description" content="{{title}}-{{_web.sitename}}"> {{ super() }} {% endblock %} {% block content %}
<header class="article-header">
    <h1 class="article-title">注册协议</h1>
</header>
<article class="article-content">
    <div class="right-main no-border">
        本协议是您与前端汇（jsout）（简称“本站”，网址：www.jsout.com）所有者（以下简称为“jsout”）之间就jsout网站服务等相关事宜所订立的契约，，请您仔细阅读本注册协议，您点击“同意以下协议，提交”按钮后，本协议即构成对双方有约束力的法律文件。<br/>

        <h3>第1条 服务条款</h3>

        1.1 本站的各项电子服务的所有权和运作权归jsout所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。<br/> 1.2 用户点击同意本协议的，即视为用户确认自己具有享受本站服务的权利能力和行为能力，能够独立承担法律责任。<br/> 1.3 如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本站。<br/> 1.4 jsout保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容的权利。<br/>

        <h3>第2条 服务内容</h3>

        2.1 jsout网络服务的具体内容由jsout根据实际情况提供，例如博客、相册、部落、分类信息等。<br/> 2.2 jsout仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机、及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。<br/>

        <h3>第3条 用户信息</h3>

        3.1 用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且jsout保留终止用户使用jsout各项服务的权利。<br/> 3.2 用户注册成功后，将产生用户名和密码等账户信息，您可以根据本站规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本站并向公安机关报案。<br/>        3.3 用户同意，jsout拥有通过邮件、短信电话等形式，向本站注册用户发送各种合法信息的权利。<br/> 3.4 用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。<br/> 3.5 用户同意，jsout有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但限于公证、见证等。<br/>

        <h3>第4条 用户义务</h3>

        4.1 本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：<br/> » 不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；<br/> » 从中国大陆向境外传输资料信息时必须符合中国有关法规；<br/> » 不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；<br/> » 不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；<br/>        » 不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；<br/> » 不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；<br/> » 不得教唆他人从事本条所禁止的行为；<br/> » 不得利用在本站注册的账户进行牟利性经营活动；<br/> » 不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；<br/> 4.2 用户应不时关注并遵守本站不时公布或修改的各类合法规则规定。<br/> 4.3
        本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。<br/> 4.4 若用户未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。<br/>

        <h3>第5条 使用规则</h3>

        5.1 用户在申请使用jsout网络服务时，必须向jsout提供准确的个人资料，如个人资料有任何变动，必须及时更新。<br/> 5.2 用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用，应立即通知jsout。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，jsout不承担任何责任。<br/> 5.3 用户同意jsout有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在本站的任何页面上投放广告），并且，用户同意接受jsout通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。<br/>        5.4 对于用户通过jsout网络服务上传到jsout网站上可公开获取区域的任何内容，用户同意jsout在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。<br/> 5.5 jsout有权对用户使用jsout网络服务【该网络服务包括但不限于收费及免费网络服务（其中包括基于广告模式的免费网络服务）】的情况进行审查和监督(包括但不限于对用户存储在jsout的内容进行审核)，如用户在使用网络服务时违反任何上述规定，jsout或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻用户不当行为造成的影响。<br/>        5.6 jsout针对某些特定的jsout网络服务的使用通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，用户如使用该等jsout网络服务，视为用户同意该等声明、通知、警示的内容。<br/>

        <h3>第6条 隐私保护</h3>

        6.1 jsout不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在jsout的非公开内容，但下列情况除外：<br/> » 事先获得用户的明确授权；<br/> » 根据有关的法律法规要求；<br/> » 按照相关政府主管部门的要求；<br/> » 为维护社会公众的利益；<br/> 6.2 jsout可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与jsout同等的保护用户隐私的责任，则jsout有权将用户的注册资料等提供给该第三方。<br/>        6.3 在不透露单个用户隐私资料的前提下，jsout有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br/>

        <h3>第7条 知识产权</h3>

        7.1 用户一旦接受本协议，即表明该用户主动将其在任何时间段在本站发表的任何形式的信息内容（包括但不限于用户评价、用户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给jsout所有，用户同意jsout有权就任何主体侵权而单独提起诉讼。 7.2 本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在jsout网站上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。
        7.3 用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但限于在各类网站、媒体上使用）。 7.4 jsout是本站的制作者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本站的内容进行修改，并在本站张贴，无须另行通知用户。在法律允许的最大限度范围内，jsout对本协议及本站内容拥有解释权。 7.5 除法律另有强制性规定外，未经jsout明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，jsout有权追究其法律责任。
        7.6 本站所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是jsout或其内容提供者的财产，受中国和国际版权法的保护。本站上所有内容的汇编是jsout的排他财产，受中国和国际版权法的保护。本站上所有软件都是jsout或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。<br/>

        <h3>第8条 版权声明</h3>

        8.1 用户发表并将其上传到本网站的任何内容，jsout在全世界范围内不限形式和载体地享有永久的、不可撤销的、免费的、非独家的使用权和转授权的权利，包括但不限于修改、复制、发行、展览、改编、汇编、出版、翻译、信息网络传播、广播、表演和再创作及著作权法等法律法规确定的其他权利。<br/> 8.2 jsout特有的标识、版面设计、编排方式等版权均属jsout享有，未经jsout许可，不得任意复制或转载。<br/> 8.3 用户从jsout的服务中获得的信息，未经jsout许可，不得任意复制或转载。<br/>        8.4 使用jsout的任何内容均应注明"来源于前端汇(www.jsout.com)"及署上作者姓名，按法律规定需要支付稿酬的，应当通知jsout及作者及支付稿酬，并独立承担一切法律责任。<br/> 8.5 jsout享有所有作品用于其它用途的使用权和优先权，包括但不限于网站、电子杂志、平面出版等，作者在jsout发布内容时视为同意本条款。<br/> 8.6 jsout所有内容仅代表作者自己的立场和观点，与jsout无关，由作者本人承担一切法律责任。<br/> 8.7 恶意转载jsout内容的，jsout保留将其诉诸法律的权利。<br/>

        <h3>第9条 免责声明</h3>

        9.1 用户明确同意其使用jsout网络服务所存在的风险将完全由其自己承担；因其使用jsout网络服务而产生的一切后果也由其自己承担，jsout对用户不承担任何责任。<br/> 9.2 jsout不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br/> 9.3 jsout不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由jsout实际控制的任何网页上的内容，jsout不承担任何责任。<br/>        9.4 对于因不可抗力或jsout不能控制的原因造成的网络服务中断或其它缺陷，jsout不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。<br/> 9.5 用户同意，对于jsout向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，jsout无需承担任何责任：<br/> » jsout向用户免费提供的各项网络服务；<br/> » jsout向用户赠送的任何产品或者服务；<br/> » jsout向收费网络服务用户附赠的各种产品或者服务；<br/>

        <h3>第10条 协议更新及用户关注义务</h3>


        10.1 本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。 如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。<br/>

        <h3>第11条 其他</h3>

        11.1 jsout网站所有者是指在政府部门依法许可或备案的jsout网站经营主体。<br/> 11.2 jsout尊重用户和消费者的合法权利，本协议及本网站上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本站欢迎用户和社会各界提出意见和建议，jsout将虚心接受并适时修改本协议及本站上的各类规则。<br/> 11.3 只要您在本站上完成注册即视为您完全接受本协议，在注册之前请您再次确认已知悉并完全理解本协议的全部内容。<br/>
    </div>
</article>
{% endblock %}