<!DOCTYPE html>
<html>
<%include inc/header.html%>
<body>
<!-- Table -->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="/admin/index/welcome">首页</a><span class="c-gray en">&gt;</span> 留言管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="main" style="width:96%;margin:0 auto;">
    <div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-bottom: 15px;">
        <span class="l">
            <a href="javascript:;" onclick="delsome()" class="btn btn-danger radius">
                <i class="Hui-iconfont"></i> 批量删除
            </a>
        </span>
        <span class="r">共有数据：<strong><%=pageData.count%></strong> 条</span>
    </div>
    <div class="dataTables_wrapper no-footer">
        <table class="table table-border table-bordered table-bg table-hover table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr class="text-c" role="row">
                <th width="25" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 25px;">
                    <input type="checkbox" name="" value="">
                </th>
                <th width="80"  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: 升序排列" style="width: 80px;">ID</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">昵称</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">联系方式</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">留言</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="操作" style="width: 120px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <% itemList.forEach(function(item,i){%>
            <tr class="text-c odd" role="row">
                <td><input type="checkbox" value="<%=item.id%>" name=""></td>
                <td><%=item.id%></td>
                <td><%=item.nickname%></td>
                <td><%=item.contact%></td>
                <td><%=item.guest%></td>
                <td class="f-14 td-manage">
                    <a style="text-decoration:none" class="ml-5 delete" del-id="<%=item.id%>" title="删除"><i class="Hui-iconfont"></i></a>
                </td>
            </tr>
            <% })%>
            </tbody>
        </table>
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <a class="paginate_button previous <%=pageData.preclass%>" href="<%=pageData.prelink%>" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
            <% for(var i=1;i<=pageData.totalPages;i++){%>
                    <span>
                        <a href="?page=<%=i%>&pagesize=<%=pageData.numsPerPage%>" class="paginate_button <%=pageData.currentPage===i?'current':''%>" aria-controls="DataTables_Table_0" data-dt-idx="<%=i%>" tabindex="0"><%=i%></a>
                    </span>
            <%}%>
            <a class="paginate_button next <%=pageData.nextclass%>" href="<%=pageData.nextlink%>" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=_web.url%>static/src/js/business/admin/<%=action%>.js"></script>
</body>
</html>
