{% extends "../admin/inc/admin_base.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<form class="form form-horizontal" id="form-article-add">
    <input type="hidden" value="" id="aid" />
    <div class="row cl">
        <input type="hidden" value="{{item.id}}" id="tid" />
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text itemname" value="{{item.itemname}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button class="btn btn-secondary radius" id="saveitem" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            <button onClick="window.location.href='/admin/{{action}}'" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
{% endblock %} {% block footer_other %}
<script type="text/javascript" src="/static/admin/js/admin/{{action}}.js"></script>
{% endblock %}