{% extends "../admin/inc/admin_base.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-bottom: 15px;">
    <span class="l">
            <a href="javascript:;" onclick="delsome()" class="btn btn-danger radius">
                <i class="Hui-iconfont"></i> 批量删除
            </a>
        </span>
    <span class="r">共有数据：<strong>{{pageData.count}}</strong> 条</span>
</div>
<div class="dataTables_wrapper no-footer">
    <table class="table table-border table-bordered table-bg table-hover table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr class="text-c" role="row">
                <th width="25" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 25px;">
                    <input type="checkbox" name="" value="">
                </th>
                <th width="80" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: 升序排列" style="width: 80px;">ID</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">网站名称</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">链接</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">logo</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 247px;">联系qq</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="标题: 升序排列" style="width: 100px;">是否通过</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="操作" style="width: 120px;">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itemList %}
            <tr class="text-c odd" role="row">
                <td><input type="checkbox" value="{{item.id}}" name=""></td>
                <td>{{item.id}}</td>
                <td>{{item.domain}}</td>
                <td>{{item.link}}</td>
                <td>{{item.logo}}</td>
                <td>{{item.qq}}</td>
                <td>{{'通过' if item.flag=='1' else '未通过'}}</td>
                <td class="f-14 td-manage">
                    {% if item.flag=="0" %}
                    <a style="text-decoration:none" class="ml-5 edit toshow" href="javascript:void(0);" tid="{{item.id}}" title="通过">
                        <i class="Hui-iconfont"></i>
                    </a>
                    {%endif%}
                    <a style="text-decoration:none" class="ml-5 delete" del-id="{{item.id}}" title="删除"><i class="Hui-iconfont"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% if pageData.count>10 %} {% include "../admin/inc/pagination.html" %} {%endif%}
</div>
{% endblock %} {% block footer_other %}
<script type="text/javascript" src="/static/admin/js/admin/{{action}}.js"></script>
{% endblock %}