<!DOCTYPE html>
<html >
    <%include inc/header.html%>
<body>
    <!-- Table -->
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="/admin/index/welcome">首页</a><span class="c-gray en">&gt;</span> <%=title%> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <article class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <input type="hidden" value="" id="aid"/>
            <div class="row cl">
                <input type="hidden" value="<%-item.id%>" id="tid"/>
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text itemname" value="<%=item.pername%>" placeholder="" id="" name="">
                </div>
            </div>
            <div class="row cl">
                <input type="hidden" value="<%-item.id%>" id="tid"/>
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限路由</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text permission" value="<%=item.permission%>" placeholder="" id="" name="">
                </div>
            </div>
            <div class="row cl">
                <input type="hidden" value="<%-item.id%>" id="tid"/>
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <select class="" name="" id="tagSelect">
                          <% tagList.forEach(function(el,i){%>
                                <option value="<%=el.id%>" <%=(el.id==item.tag)?'selected':''%> ><%=el.name%></option>
                          <%})%>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-secondary radius" id="saveitem" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    <button onClick="window.location.href='/admin/<%=action%>'" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </article>
    <script type="text/javascript" src="<%=_web.url%>static/src/js/business/admin/<%=action%>.js"></script>
</body>
</html>
