{% extends "../admin/inc/admin_base.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<form class="form form-horizontal" id="form-article-add">
    <input type="hidden" value="" id="aid" />
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text sitename" value="{{sysdata.sitename|safe}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网址：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text url" value="{{sysdata.url}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text keywords" value="{{sysdata.keywords}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text description" value="{{sysdata.description}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>显示作者：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text author" value="{{sysdata.author}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>底部版权：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text copyright" value="{{sysdata.copyright}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主题设置：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text theme" value="{{sysdata.theme}}" placeholder="" id="" name="">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>统计代码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <textarea class="form-control textarea tongji" name="link" rows="4" cols="50" placeholder="统计代码" style="width: 100%; height: 98px;resize:none">{{_web.tongji}}</textarea></div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button class="btn btn-secondary radius" id="savetag" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            <button onClick="window.location.href='/admin/system'" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
{% endblock %} {% block footer_other %}
<script type="text/javascript" src="/static/admin/js/admin/system_base.js"></script>
{% endblock %}