<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%=categoryName%>-<%=_web.sitename%></title>
	<meta name="keywords" content="<%=categoryName%>,<%=_web.keywords%>">
	<meta name="description" content="<%=categoryName%>-<%=_web.sitename%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<%include inc/header.html%>
<style>
    .li-header{line-height: 100px; background: #fff; box-shadow: 2px 2px 1px #eee;}
	.blogs{padding: 0px 10px; }
	.blogs ul {
		width: 100%;margin-bottom: 0px;
	}
	.recom ul{
		margin-left: 40px;
	}
	.recom ul li{
		list-style-type: disc;
		line-height: 26px;
		font-size: 14px;
	}
	.nocontent{line-height: 600px;text-align: center;font-size: 16px;}
	.recom .blogs{border-bottom: none;}
</style>
</head>
<body>
 <%include inc/menu.html%>
 <article class="mainbd">
    <div class="l_box f_l" style="min-height: 900px">
	   <div class="topnews">
	   <div class="h2">
	   <span>
		   <% if(more!==1){%>
		      <a href="/more.html" target="_blank">更多>></a>
		   <%}%>
	   </span>
        <ol class="breadcrumb">
            <li><a href="<%=_web.url%>">首页</a></li>
            <li class="active"><%=categoryName%></li>
        </ol>
	   </div>
		   <% if(itemList.length>0){%>
			   <% itemList.forEach(function(item,i){%>
				   <div class="blogs">
					   <ul>
						   <h3><a href="/page/<%=item.id%>.html"><%=item.title%></a></h3>
						   <div class="abstract"><%=item.abstract%></div>
						 <div class="author">
							<span class="lm f_l">
								<a href="javascript:void(0);"><%=item.author%></a>
							 </span>
							 <span class="dtime f_l"><%=liFormatDate(think.datetime(item.cteatetime))%></span>
						  </div>
                          <div class="author">
                             <span class="viewnum f_r">
								浏览（<%=item.view%>）</span>
							 <span class="pingl f_r">
								评论（<span id="sourceId::<%=item.id%>" class="cy_cmt_count" style="margin: 0px;padding: 0px"></span>）
							 </span>
                          </div>
					   </ul>
				   </div>
			   <%})%>
		   <%}else{%>
		   		<div class="nocontent">
					暂无内容
				</div>
			   <div class="topnews recom">
				   <div class="h2">
						<span>
						  <a href="/activity.html" target="_blank">更多&gt;&gt;</a>
						</span>
					   您可能感兴趣
				   </div>

				   <div class="blogs">
					   <ul>
						   <% torecomList.forEach(function(item,i){%>
						   <li><a href="/page/<%=item.id%>.html" target="_blank" title="<%=item.title%>"><%=item.title%></a></li>
						   <%})%>
					   </ul>
				   </div>
			   </div>
		   <%}%>

	   </div>
		<% if(pageData.count>10){ %>
			<%include inc/pagination.html%>
		<%}%>
	 </div>  
     <%include inc/right.html%>
  </article>
  <%include inc/footer.html%>
 <script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysoRJNxO"></script>
</body>
</html>