<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin/common/common.css" />
    <script src="/static/admin/js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.admin.js"></script>
    {% endblock %}
    <script>
        var G_csrf = "{{csrf}}";
    </script>
</head>

<body>
    <div class="main-content">
        <nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i>
            <a href="/admin/index/welcome">首页</a>
            <span class="c-gray en">&gt;</span> {{title}}
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont">&#xe68f;</i>
            </a>
        </nav>
        <article class="page-container">
            {% block content %}{% endblock %}
        </article>
    </div>
    {% block footer_other %}{% endblock %}
</body>

</html>