<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <script src="/static/admin/js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.admin.js"></script>
    <style>
        .breadcrumb {
            padding: 0 15px;
        }
        
        .wangEditor-menu-shadow {
            z-index: 9999;
        }
        
        .form-label {
            text-align: right
        }
        
        .form-horizontal .form-label {
            text-align: right;
        }
    </style>
    <script>
        var G_csrf = "{{csrf}}";
    </script>
</head>