<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/content" data-title="文章列表" href="javascript:void(0)">文章列表</a></li>
                    <li><a _href="/admin/content/article" data-title="新建文章" href="javascript:void(0)">添加文章</a></li>
                    <li><a _href="/admin/content/addmarkdown" data-title="新建markdown文章" href="javascript:void(0)">添加markdown</a></li>
                    <li><a _href="/admin/content/draftlist" data-title="文章列表" href="javascript:void(0)">草稿箱</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-menu">
            <dt><i class="Hui-iconfont">&#xe616;</i> 导航管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/menu/index" data-title="分类管理" href="javascript:void(0)">导航列表</a></li>
                    <li><a _href="/admin/menu/item" data-title="新建分类" href="javascript:void(0)">新建导航</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-item">
            <dt><i class="Hui-iconfont">&#xe616;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/item/index" data-title="分类管理" href="javascript:void(0)">栏目列表</a></li>
                    <li><a _href="/admin/item/item" data-title="新建分类" href="javascript:void(0)">新建栏目</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tag">
            <dt><i class="Hui-iconfont">&#xe616;</i> 标签管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/tag/index" data-title="分类管理" href="javascript:void(0)">标签列表</a></li>
                    <li><a _href="/admin/tag/item" data-title="新建分类" href="javascript:void(0)">新建标签</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/user/index" data-title="用户管理" href="javascript:void(0)">注册用户</a></li>
                    <li><a _href="/admin/user/adminlist" data-title="用户管理" href="javascript:void(0)">管理员</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> 社区管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/topic/index" data-title="社区管理" href="javascript:void(0)">主题列表</a></li>
                    <li><a _href="/admin/topictag/index" data-title="社区管理" href="javascript:void(0)">标签管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/role/index" data-title="角色管理" href="javascript:void(0)">角色列表</a></li>
                    <li><a _href="/admin/permission/index" data-title="权限管理" href="javascript:void(0)">权限列表</a></li>
                    <li><a _href="/admin/pertag/index" data-title="权限管理" href="javascript:void(0)">权限分类</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-guest">
            <dt><i class="Hui-iconfont">&#xe613;</i> 留言板<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/guest/index" data-title="用户管理" href="javascript:void(0)">留言列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="links">
            <dt><i class="Hui-iconfont">&#xe613;</i> 友情链接<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/links/index" data-title="用户管理" href="javascript:void(0)">申请列表</a></li>
                    <li><a _href="/admin/links/list" data-title="用户管理" href="javascript:void(0)">链接管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> 用户评论<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/comment/index" data-title="评论列表" href="javascript:void(0)">评论列表</a></li>
                    <li><a _href="/admin/comment/tiplist" data-title="举报列表" href="javascript:void(0)">举报列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe613;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/system" data-title="系统设置" href="javascript:void(0)">常规设置</a></li>
                    <li><a _href="/admin/system/setcomment" data-title="评论设置" href="javascript:void(0)">评论设置</a></li>
                    <li><a _href="/admin/system" data-title="系统设置" href="javascript:void(0)">邮件设置</a></li>
                    <li><a _href="/admin/system/setlogo" data-title="系统设置" href="javascript:void(0)">LOGO设置</a></li>
                    
                </ul>
            </dd>
        </dl>
    </div>
</aside>