#ds-reset #replyat{float: left;line-height: 40px;padding-left: 10px;}
.com-post-report{display: none;}
.recom ul{
    margin-left: 8px;
}
.recom ul li{
    list-style-type: disc;
    line-height: 26px;
    font-size: 14px;
}
.nocontent{line-height: 600px;text-align: center;font-size: 16px;}
.recom .blogs{border-bottom: none;}
.topnews.recom{margin-left: 0px;padding-left: 0px}
.markdown-body .from{color: #bbb;line-height: 50px;font-size: 13px;}
.markdown-body .copyrights{
    background-color: #eee;
    padding-right: 30px;
    font-size: 13px;
    padding: 3px 0;
    border-radius: 3px;
    color: #aaa;
    text-align: center;
    line-height: 28px;
}
#showContent{margin-bottom: 45px;}
