<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{userinfo.name}}的个人主页 - 前端汇-Power by liblog</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{userinfo.nickname}}的个人主页">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/login/login.min.css" rel="stylesheet">
    {% include "../common/inc/header.html"%}
    <link href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/personal/personal.css" rel="stylesheet">
</head>
<body>
{% include "../personal/inc/personal_header.html" %}
<article class="mainbd">
  <div class="container-fluid web-body">
    <div class="row user-info">
        <div class="container">
            <div class="row main-user">
                <div class="col-md-1 col-xs-1 pheader-left">
                    <img class="img-circle avatar" src="{{_web.url}}{{theme_url}}/{{'common/images/pic/man.jpg' if userinfo.pic=='' else userinfo.pic}}">
                </div>
                <div class="col-md-8 col-xs-9 pheader-left">
                  <div class="media-body">
                      <span class="media-heading font-16">
                        {%if isself==1 %}
                            你好,{%if userinfo.nickname %}{{userinfo.nickname}}{%else%}{{userinfo.name}}{%endif%}
                        {%else%}
                            {%if userinfo.nickname %}{{userinfo.nickname}}{%else%}{{userinfo.name}}{%endif%}的个人主页
                        {%endif%}
                      </span><br>
                      <span class="font-12 C888"><b>邮箱</b>：{{userinfo.email}}&nbsp;&nbsp; <b>注册时间</b>：{{think.datetime(userinfo.createtime)}}&nbsp;&nbsp; <b>所在地：</b>未设置</span><br>
                      <span class="font-12 C888"><b>等级</b>：{{userinfo.level}}级 &nbsp;&nbsp; <b>VIP</b>：{{userinfo.vip}}&nbsp;&nbsp;</span><br>
                      <span class="font-12"><i class="fa fa-comment"></i>&nbsp;&nbsp;{%if userinfo.sign %}{{userinfo.sign}}{%else%}这家伙有点懒，还没写个性签名！{%endif%}</span>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 p-points">
                    <div class="col-md-12 info" style="padding-top:40px;">
                        <div class="col-md-6 col-xs-6">
                            <p>积分</p>
                            <h5><strong>{{userinfo.point}}</strong></h5>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p>排名</p>
                            <h5><strong>{{ranking}}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-body">
        <div class="container user-main">
            <div class="col-md-8 col-sm-8 col-xs-12 main-left">
                {% include "../personal/inc/index_left.html" %}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 margin-right">
                {% include "../personal/inc/index_right.html" %}
            </div>
        </div>
    </div>
  </div>
</article>
{% include "../common/inc/footer.html"%}
</body>
</html>
