<header class="head-region">
    <div class="container">
      <div class="row">
          <div class="col-md-5 col-md-offset-7">
            {% include "../inc/top.html" %}
          </div>
      </div>
      <div class="row">
        <div class="col-md-2 logo-region">
            <div class="logo">
                <a href="/" title="{{_web.sitename}}">
                    <img src="{{_web.url}}{{theme_url}}/common/images/common/logo.jpg" alt="前端汇">
                </a>
            </div>
        </div>
        <div class="col-md-8">
          <ul class="site-nav site-navbar">
             {% for item in navList %}
                <li class="item">
                    <a href="{{ item.url }}" target="{%if(item.target=='0') %}_self{%else%}_blank{% endif %}">{{ item.menuname }}</a>
                      {% if (item.menuname=="社区") %}
                        <i class="newicon"></i>
                      {% endif %}
                </li>
             {% endfor %}
             <li class="navto-search" style="margin-left:40px;">
                 <a href="javascript:;" class="search-show active">
                  <span style="color:#ccc;margin-right:10px">搜索</span><i class="fa fa-search"></i>
                 </a>
             </li>
          </ul>
        </div>
        <div class="col-md-2">
            {% include "../inc/islogin.html" %}
        </div>
      </div>
    </div>
</header>
<div class="site-search">
  <div class="container">
    <form method="get" class="site-search-form" action="/search?keyword=">
      <input class="search-input" name="keyword" type="text" placeholder="输入关键字搜索"><button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
